@import url(http://fonts.googleapis.com/css?family=Radley:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Nunito);
.sidebar{
    background-color: rgba(77, 84, 86, 0.34);
    /*height:90%;*/
    width: 20%;
    border: hidden;
    border-radius: 5px;
    float: left;
    /*padding-top: 2px;*/

}
.sidebar p{
    font-family: Radley; font-style: italic; font-size: 120%; text-align: center; color: #ffffff;
}

.sidebar a{
    font-family: Radley; font-style: italic; font-size: 120%; text-align: center; color: #ffffff;
    text-decoration: none;
    margin-left: 20%;
}

a.player:hover{
    font-size:150%;
    color: #ffca2f;
    font-family: cursive;
    margin-left: 10%;
}


.sidebar h3{
    font-family: sans-serif; font-style: italic; font-size: 150%; text-align: center; color: #ffffff;
    cursor: pointer;
    border: solid 2px #68FF3F;
    border-radius: 5px;
    background-color: #000000;
    margin: 5%;

}



.content{
    background-color: #e38d13;
    width: 80%;
    height: 100%;
}

.head{
    width: 100%;
    height: 100%;

}

.main_content{
    margin-left: 20%;
    height: 100%;
}

.left {
    position: absolute;
    left: 0px;
    width: 20%;
}


#heading{
    /*TODO add the css for heading*/
    text-align: center;
    background-color: #0081c2;
    width: 100%;
    border: hidden;
    border-radius: 2px;
    /*height: 100%;*/
}

#bobbyImage{
    margin: 5%;
    /*margin-top: 8%;*/
    margin-bottom: 1%;
    width: 30%;
    /*height: %;*/
    -webkit-border-radius: 30px;
    border-radius: 80%;
}

#magnusImage{
    margin: 5%;
    /*margin-top: 8%;*/
    margin-bottom: 1%;
    width: 25%;
    height: 50%;
    -webkit-border-radius: 30px;
    border-radius: 80%;
}

.bobby p,div{
    font-family: 'Nunito', sans-serif;
    text-align: justify;
    /*height: 80%;*/
}
.bobby h1{
    text-align: center;
}

.bobby hr{
    width: 60%;
}

.avatar-frame,.avatar-frame img{
    margin: 13%;
    margin-top: 8%;
    margin-bottom: 1%;
    width: 70%;
    /*height: %;*/
    -webkit-border-radius: 30px;
    border-radius: 80%;
    /* Opera 10.5, IE 9 */
    /*-moz-border-radius: 30px;  Disabled for FF1+ */
}

footer{
    clear: both;
    background-color: #0044cc;
    padding: 1%;
    margin-right: 1%;
    color: #ffffff;
}

section,aside,footer,main{
    display: block;
}
aside{
    width: 20%;
    padding: 1%;
    float: left;
    background-color: rgba(77, 84, 86, 0.34);;
    margin-top: 1%;
    margin-bottom: 2%;
}

.abc{
    height: 80%;
}