<style>
    .card{
        padding: 1%;
        border: solid 2px gray;
        display: inline-block;
        margin-bottom: 1%;
        border-radius: 2px;
        background-color: rgba(200, 34, 34, 0.75);
        box-shadow: 0 4px 6px rgba(109, 115, 108, 1);
        width: 458px;
        height: 130px;

    }
.card1{
        padding: 1%;
        border: solid 2px gray;
        display: inline-block;
        /*margin-bottom: 1%;*/
        border-radius: 2px;
        margin-left: 1.5%;
        margin-top: -1%;
        background-color: rgba(200, 34, 34, 0.75);
        box-shadow: 0 4px 6px rgba(109, 115, 108, 1);
        width: 458px;
        height: 130px;

    }



    .welcome_screen div :hover{
       transform: scale(1.1,1.1);
    }
</style>

<div class="welcome_screen">

    <div class="card"> <pre>
    It's been a long road back to health and fitness for me.
    I am just glad to have been given the
    opportunity to do what I love most.

    -Jonah Lomu
</pre>
    </div>

    <div class="card"> <pre>
        If it’s difficult,I’ll do it now.
        If it’s impossible,I’ll do it presently.

        -Sir Donald Bradman
</pre>
    </div>


<div class="card"> <pre>
   I am Tamil, Sinhalese, Muslim and Burgher.
    I am a Buddhist, a Hindu,
    a follower of Islam and Christianity.
    I am today, and always, proudly Sri Lankan.

        -Kumar Sangakkara
</pre>
</div>

<div class="card"> <pre>
    Some people think that if their opponent
    plays a beautiful game, it’s OK to lose.
    I don’t. You have to be merciless.

        -Magnus Carlson
</pre>
</div>


    <div class="card"> <pre>
    There are too many Jews in chess.
        They seem to have taken away the
        class of the game. They don't seem to
        dress so nicely. That's what I don't like.

            -Bobby Fischer
</pre>
        <br/>
    </div>
    <div class="card1"> <pre>
    I never ever believed that I would be able to
     give up on this dream which has driven me to live,
     breathe, love and embrace the game of rugby from the
        earliest days that I can remember.

            -Jonny Wilkinson
</pre>
    </div>
</div>