
<html ng-app="players">
<head>
	<title>Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-resource.min.js"></script>
	<script type="text/javascript" src="js/controllers/app.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="css/styles_copy.css"/>

    <script>
        $(function() {
            $( "#accordion" ).accordion();
        });
    </script>

    <script>
        $(function() {
            $("#chess").click(function(){
                $("#ava").attr('src',"res/knight.jpg");
                $("#chess").attr('color', 'red');
                return false;
            });

            $("#rugger").click(function(){
                $("#ava").attr('src',"res/rugger.jpg");
                return false;
            });

            $("#cricket").click(function(){
                $("#ava").attr('src',"res/cricket.jpg");
                return false;
            });

        });
    </script>

    <script>
        function changeChess(){
            document.getElementById("accordion").style.backgroundColor="rgb(140, 152, 213)";
        }
        function changeRugger(){
            document.getElementById("accordion").style.backgroundColor="rgba(211, 57, 57, 0.66)";
        }
        function changeCricket(){
            document.getElementById("accordion").style.backgroundColor="green";
        }

    </script>

</head>
<body ng-controller="playerControl">
<main>
    <section>

    </section>
</main>
<aside>
    <div id="accordion">
        <div class="avatar-frame">
            <img id="ava" src="res/default.jpg" alt=""/>
        </div>
        <br/>
        <h3 id="chess" onclick="changeChess()">Chess Players</h3>
        <div id="accordian">
            <a class="player" href="#/" ng-class="mainActive"  ng-click="setActive('bobby')">~ Home ~</a>
            <hr/>
            <a class="player" href="#/bobby" ng-class="bobbyActive"  ng-click="setActive('bobby')">~ Bobby Fisher ~</a>
            <hr/>
            <a class="player" href="#/magnus" ng-class="magnusActive"  ng-click="setActive('magnus')">~ Magnus Carlsen ~</a>
            <hr/>

        </div>
        <h3 id="rugger" onclick="changeRugger()">Rugger Players</h3>
        <div>
            <p>~ Jonah Lomu ~</p>
            <p>~ Kieran Read ~</p>
        </div>
        <h3 id="cricket" onclick="changeCricket()">Cricket Players</h3>
        <div>
            <p>~ Donald Bradman ~</p>
            <p>~ Kumar Snagakkara ~</p>
        </div>
    </div>
</aside>

<div class="main_content" ng-view></div>
<footer>
Kasun Balasooriya
</footer>

</body> 
</html>  